<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div style="text-align:center;margin: auto;">
                <h2>Contact Us</h2>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <form action="">
                        <label for="fname">First Name</label>
                        <input type="text" id="fname" name="firstname" placeholder="Your name..">
                        <label for="lname">Last Name</label>
                        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                        <label for="country">Country</label>
                        <select id="country" name="country">
                            <option value="usa">India</option>
                            <option value="australia">Australia</option>
                            <option value="canada">Canada</option>
                            <option value="usa">USA</option>
                        </select>
                        <label for="subject">Subject</label>
                        <textarea id="subject" name="subject" placeholder="Write something.."
                            style="height:170px"></textarea>
                        <!-- <input type="submit" value="Submit"> -->
                        <button (click)="goBack()" class="btn btn-primary"
                            style="background-color: #610a4c;">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>