<div class="login-status-header">

    <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
        Welcome {{ userFullName }}!
        <button *ngIf="isAuthenticated" (click)="logout()" class="security-btn">Logout</button>

        <button *ngIf="isAuthenticated" routerLink="/order-history" class="security-btn ml-1">Orders</button>

    </div>

    <button *ngIf="!isAuthenticated" routerLink="/login" class="security-btn">Login</button>


</div>
<!-- <div class="login-status-header">
    <button class="security-btn" *ngIf="!isAuthenticated" routerLink="/login">Login</button>

    <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
        Welcome back {{ userFullName }}!
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle-o"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                
                <button class="dropdown-item" *ngIf="isAuthenticated" (click)="logout()">Logout</button>
    
                <button class="dropdown-item" *ngIf="isAuthenticated" routerLink="/order-history">Orders</button>
    
            </div>
    
        </div>
    </div>
    
    
</div> -->