<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h1>Hi,</h1>
            <h2>This is the demo project of Grocery app</h2><br>
            <p>
                We have four catagories in this app, you can choose any catagory and choose what you want to order.
            </p><br>
            <h5 class="h5">follow us on</h5>
            <footer class="foot">
            <ul>
                <li><a href="#"><img src = "assets/images/facebook.png" style="height:30px;width:30px;"></a> </li>
                <li><a href="#"><img src = "assets/images/twitter.png" style="height:30px;width:30px;"></a> </li>
                <li><a href="#"><img src = "assets/images/linkdin.png" style="height:30px;width:30px;"></a> </li>
                <li><a href="#"><img src = "assets/images/wattsapp.png" style="height:30px;width:30px;"></a></li>
            </ul>
        </footer><br>
        <a [routerLink]="'/products'" routerActiveLink="Active router">Back to products</a>
        </div>
    </div>
</div>